***Import Libraries***

In [6]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
import pandas as pd

***Create SQL Connection***

In [7]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:lsMasekw1@localhost/books"

In [4]:
engine = create_engine(connection)

***Create Database***

In [8]:
#create new database 'books'
create_database(connection)

In [9]:
#check if database was created
database_exists(connection)

True

***Add Tables to Database***

 ![png](ERD.png)

In [10]:
#import authors table
authors = pd.read_csv('data/authors.csv')
authors.head()

#Add authors table to books database
authors.to_sql('author', engine, if_exists = 'replace')

5

In [11]:
#import users table
users = pd.read_csv('data/users.csv')

#Add users table to books database
users.to_sql('user', engine, if_exists = 'replace')

3

In [12]:
#import favourite books table
favourites = pd.read_csv('data/favorites.csv')

#Add favourite books table to books database
favourites.to_sql('favourite_books', engine, if_exists = 'replace')

7

In [13]:
#import  books table
book = pd.read_csv('data/books.csv')

#Add book table to books database
book.to_sql('book', engine, if_exists = 'replace')

6

***Testing Datbase***

In [14]:
query = """select a.title, b.user_id
        from book as a
        join favourite_books as b
        on a.id = b.book_id
        where b.user_id = (
        					select user.id from user where (last_name = "Doe" and first_name = "John"))
        """
pd.read_sql(query, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1